# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
env/
venv/
ENV/
.env
.env.*

# Distribution / packaging
build/
dist/
*.egg-info/

# Pytest
.cache/

# IDEs / editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store

# Misc
*.log
